<!DOCTYPE html>
<html lang="en">
<title>Pandemic program</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 0px;
  bottom: 0;
  height: inherit;
}
/* Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal */
body {font-family: Arial, Helvetica, sans-serif;}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
<body>


<!-- Sidebar for navigating the subpages-->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i> 
  </a> 
  <h4 class="w3-bar-item"><b onclick="frontpage()">Menu</b></h4>
  <a id="sidebar_1" class="w3-bar-item w3-button w3-hover-black" href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="Instructions()">Instructions</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" onclick="Contact()">Contact</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">

      <!-- Front page text. Changes when user navigates to subpages -->
      <h1 class="w3-text-teal" id="h1">Hospital Management</h1>
      <p id = "sub_text"> Manage Patients.</p>
    </div>
  </div>
<!-- END MAIN -->
</div>

<!-- Section for the login form -->
<div id="id01" class="modal">

  <!-- Upon clicking the login botton, the function validateForm will be called to check username and password
  If both are correct, user will be redirected to the /main subpage where the main functionality is. -->
  <form class="modal-content animate" name="loginForm" action="/main" onSubmit="return validateForm();"> 
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="#" alt="Avatar" class="avatar" style="width:150px;height:150px;">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#" onclick="ForgotPassword()">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");
var sidebar1 = document.getElementById("sidebar_1");
// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

// Function that controls what is visible when user navigates to the frontpage
function frontpage() {
  document.getElementById("h1").innerHTML = "Hospital Management";
  document.getElementById("sub_text").innerHTML = "Manage Patients.";
}

// Function that controls what is visible when user navigates to instructions subpage
function Instructions() {
  document.getElementById("h1").innerHTML = "Instructions";
  document.getElementById("sub_text").innerHTML = "<h1>How to use site</h1> Head to the admit patients section in order to admit a patient. The section also lets you choose which solver gets used for determining where a patient gets submitted. For unadmitting a patient, head to the unadmit patients section and start searching for the patient that is to be unsubmitted. For simply checking how much hospital capacity is left, head to the status of regions section. ";
}

// Function that controls what is visible when user navigates to contact subpage
function Contact() {
  document.getElementById("h1").innerHTML = "Contact";
  document.getElementById("sub_text").innerHTML = "A link to our <a href='https://github.com/Ravnholt7507/P2-Projekt/'>github</a>.";
}

// Function that controls what is visible when user clicks on forgot password
function ForgotPassword() {
  modal.style.display = "none";
  document.getElementById("h1").innerHTML = "Too Bad";
  document.getElementById("sub_text").innerHTML = "No recovery method for passwords has been implemented. :(";
}

// Taken from https://stackoverflow.com/questions/23134756/simple-javascript-login-form-validation#23135360
// Function that validates that the username and password is correct. 
function validateForm() {
        // Get user input
        var un = document.loginForm.uname.value;
        var pw = document.loginForm.psw.value;
        var username = "username"; 
        var password = "password";
        // Check if user input is correct
        if ((un == username) && (pw == password)) {
            return true;
        }
        else {
            alert ("Login was unsuccessful, please check your username and password\nHint: username=username and password=password");
            return false;
        }
}

// Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal
// Get the modal login form
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
